body{
  //background-image: url("../images/wood-table.jpg");
  background-size: cover;
}

.game-board{
  box-shadow:0 5px 10px 1px #000;
  background-color:#2F2F2F;
  width:400px;
  height: 710px;
  border:1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 50px auto;
  //float: right;
}

.main-board{
  background-color: brown;
  height: 600px;
  padding: 5px;
  border-radius: 5px;
}

.all-pegs-container{
  background-color: rgb(94, 63, 50);
  width: 15%; 
  height: 600px;
  display: inline-block;
  float: left;
  border-radius: 5px;
}

#guesses-container{
  width: 85%;
  display: inline-block;
  float: left;
}

#guesses-container > ul > li{
  margin: 5px; 
}

.hole{
  background-color: #333;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.feedback-holes{
  background-color: #ABABA6;
  width: 50px;
  height:35px;
  font-size: 16px;
  line-height: 16px;
  margin:10px;
  padding: 3px;
  border-radius: 5px;
}

.peg-list{
  padding-left: 0px;
  padding-top: 20px;
}

.peg-list > .peg{
  margin: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.guess-holes{
  text-align: center;
}

.guess-holes > li{
  display: inline-block;
}

#secret-code{
  text-align: center;
  //display: none;
}

#secret-code > li{
  display: inline-block;
}

#secret-code > .peg{
  margin: 10px;
}

.secret-code-container{
  background-color: rgb(94, 63, 50);
  height: 50px;
  width: 300px;
  margin: 20px auto;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(94, 63, 50);
}

#reset-button{
  width: 200px;
  margin:30px auto;
  background-color: brown;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  color: #f2f2f2;
  line-height: 50px;
}

#guess-holes-template{
  display: none;
}