body{
  background-image: url("../images/wood-table.jpg");
  background-size: cover;
}

#box-cover{
  background-image: url("../images/mastermind-box.png");
  height: 660px;
  width: 410px;
  background-size: cover;
  position: absolute;
  left: 514px;
  top: 45px;
}

.game-board{
  box-shadow:0 5px 10px 1px #000;
  background-color:#2F2F2F;
  width:320px;
  //standard width for (mobile 320) 480 960 1080 
  height: 660px;
  border:1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 50px auto;
}

.main-board{
  background-color: brown;
  height: 440px;
  padding: 5px;
  border-radius: 5px;
  border-style: outset;
  border-color: brown;
  border-width: 5px;
}

#instructions{
 background-color: #f2f2f2;
 height: 540px;
 width: 320px;
 background-size: cover;
 position: absolute;
 left: 543px;
 top: 50px;
 border-radius: 5px;
 z-index: -1;
 font-family: 'Montserrat', sans-serif;
 color: #333;
 font-size: 1.5em;
 padding: 15px;
}

.all-pegs-container{
  background-color: rgb(94, 63, 50);
  width: 15%; 
  height: 420px;
  display: inline-block;
  float: left;
  border-radius: 5px;
}

#peg-list{
  padding-top: 125px;
}

#guesses-container{
  width: 85%;
  display: inline-block;
  float: left;
}

#guesses-container > ul > li{
  margin: 5px; 
}

.hole{
  background-color: #333;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.feedback-holes{
  background-color: #ABABA6;
  width: 50px;
  height:35px;
  font-size: 16px;
  line-height: 16px;
  margin:10px;
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;
}

.feedback-black {
  color: black;
}

.feedback-white {
  color: white;
}

.feedback-black, .feedback-white {
  font-weight: 700;
  display: block;
  text-align: center;
}

.peg-list > .peg{
  margin: 10px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.guess-holes{
  text-align: center;
}

.guess-holes > li{
  display: inline-block;
}

#secret-code{
  text-align: center;
  display: none;
}

#secret-code > li{
  display: inline-block;
}

#secret-code > .peg{
  margin: 10px;
}

.secret-code-container{
  background-color: rgb(94, 63, 50);
  height: 50px;
  width: 300px;
  margin: 20px auto;
  border-style: outset;
  border-width: 5px;
  border-color: rgb(94, 63, 50);
}

#reset-button{
  width: 200px;
  margin:10px auto;
  background-color: brown;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  color: #f2f2f2;
  line-height: 50px;
}

#guess-holes-template{
  display: none;
}

@media only screen and (max-width: 640px){
  .game-board{
    box-shadow:0 5px 10px 1px #000;
    background-color:#2F2F2F;
    width:320px;
    //standard width for (mobile 320) 480 960 1080 
    height: 660px;
    border:1px solid #000;
    border-radius: 4px;
    padding: 10px;
    margin: 50px auto;
  }

  #instructions{
    display: none;
  }

  #box-cover{
    display: none;
  }

}

li.hole {
  //margin-bottom: 12px;
}